@keyframes cursor-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.caret-idle {
  animation: cursor-blink 1s infinite;
}

.game {
  &--content {
    @apply p-6 my-6 shadow-lg bg-gray-825;
  }

  &--content--bar {
    @apply py-2 px-4 lg:px-8 bg-gray-800 shadow-md rounded-t-2xl;
  }

  &--content--bar.is-transparent {
    @apply rounded-xl bg-gray-775 #{!important};
  }
}

.match {
  &--mono {
    font-family: 'Roboto Mono', monospace !important;
  }

  &--text {
    word-break: break-word;
    padding: 0px 5px;
    letter-spacing: 0.75px;
  }

  &--letter {
    @apply leading-loose #{!important};
  }

  &--rtl {
    direction: rtl;
  }

  &--ltr {
    direction: ltr;
  }

  &--container {
    line-height: 0 !important;
    @apply p-8 bg-black bg-gray-775 shadow-lg rounded-b-2xl font-medium;
  }

  &--container-transparent {
    @apply py-8;
  }

  @media (max-width: 1024px) {
    &--container {
      @apply p-4;
    }

    &--container-transparent {
      @apply py-4;
    }
  }

  &--correct {
    @apply text-white;
  }

  &--input {
    @apply mt-4 lg:mt-8 w-full p-2 text-sm text-gray-400 border-b-2 border-opacity-25 rounded-lg shadow;
  }

  &--input::placeholder {
    @apply text-gray-500;
  }

  &--input:hover,
  &--input:focus {
    @apply outline-none;
  }
}
