.hexagon {
  position: relative;
  background-color: #64c7cc;
  margin: 86.6px 0;

  @apply w-32 h-32;
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.6px solid #64c7cc;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.6px solid #64c7cc;
}
