
.navigationBar {
  backdrop-filter: 'blur(8px)';
  @apply my-3 relative;
}

.navigationBar.is-mobile {
  @apply bg-gray-750 bg-opacity-90 shadow-lg my-0 fixed;
}

.desktopNav-item {
  @apply 
    relative my-auto w-auto 
    px-4 xl:px-4 py-1
    border-transparent 
    text-sm xl:text-base uppercase text-center 
    text-white 
    transition ease-in-out duration-300 
    font-semibold 
    rounded-xl
    hover:bg-gray-775
    hover:text-orange-400
    ml-6;
}

.mobileNav-item {
  @apply my-auto w-auto py-3 text-sm uppercase text-center text-white transition ease-in-out duration-300 font-semibold hover:text-orange-400
}

.mobileNav-item.levelbar-active {
  @apply text-orange-400 #{!important};;
}

.desktopNav-item.levelbar-active {
  @apply bg-gray-750 text-orange-400;
}