@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

@import './container.scss';
@import './match.scss';
@import './sidebar.scss';
@import './leaderboards.scss';
@import './form.scss';
@import './lists.scss';
@import './news.scss';
@import './heading.scss';
@import './dropdown.scss';
@import './buttons.scss';
@import './scrollbar.scss';

html {
  overflow-y: scroll;
}

body {
  background: url('/assets/v2bg.png') top center;
  background-size: auto;
  background-repeat: no-repeat;

  /* Use BG Color: 1E1E21 w/95% opacity */
  background-color: #252525;
  @apply text-white;
}

.content-box {
  @apply relative p-8 bg-gray-750 bg-opacity-80 rounded-xl;
}

.progress-smooth {
  width: 0;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.Toastify__toast {
  @apply rounded text-sm p-4 tracking-wider #{!important};;
}

.Toastify__toast--error {
  @apply bg-red-600 #{!important};;
}


.Toastify__toast--success {
  @apply bg-green-600 #{!important};
}

.Toastify__toast--info {
  @apply bg-orange-400 #{!important};
}

.Toastify__toast--warning {
  @apply bg-orange-600 #{!important};
}

@media (min-width: 1024px) {
  .scale-challenge {
    transform: scale(1.45);
  }
}