@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=IBM+Plex+Mono:wght@700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

@import './container.scss';
@import './match.scss';
@import './sidebar.scss';
@import './leaderboards.scss';
@import './form.scss';
@import './lists.scss';
@import './news.scss';
@import './heading.scss';
@import './dropdown.scss';
@import './buttons.scss';
@import './scrollbar.scss';
@import './toast.scss';
@import './nft.scss';

html {
  overflow-y: scroll;
}

body {
  /* Background */
  background: url('/assets/v2bg.jpg') top center;
  background-size: auto;
  background-repeat: no-repeat;

  /* Use BG Color: 1E1E21 w/95% opacity */
  background-color: #252525;
  @apply text-white;
}

@media screen and (min-device-aspect-ratio: 21/9) {
  body {
    background-size: cover !important;
  }
}

.bgOverlay {
    display: block;
    position: absolute;
    height: 40vh;

    z-index: -1;
    @apply overflow-hidden block absolute top-0 w-full bg-gradient-to-b from-gray-900 to-transparent opacity-100;
}

.content-box-basic {
  @apply bg-gray-750 bg-opacity-90 rounded-xl shadow-xl;
}

.content-box {
  @apply relative p-8 bg-gray-750 bg-opacity-90 rounded-xl shadow-xl;
}

.font-ibm {
  font-family: 'IBM Plex Mono', monospace;
}

.font-roboto {
  font-family: 'Roboto Mono', monospace !important;
}

.progress-smooth {
  width: 0;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.__react_component_tooltip {
    @apply bg-gray-750 shadow-md border border-gray-600 #{!important};
}

.__react_component_tooltip::before, .__react_component_tooltip::after {
  @apply border-none #{!important};
}

@media (min-width: 1024px) {
  .scale-challenge {
    transform: scale(1.45);
  }
}